body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/ecran.jpg');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.7);
    width: 100%;
    gap: 20px; 
    box-sizing: border-box;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
}

header .btn {
    display: inline-block;
    background-color: rgb(206, 73, 95);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #d1006e;
}

main {
    flex: 1; 
    width: 90%; 
    max-width: 100%; 
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;  /* Réduit la taille du titre sur les petits écrans */
    }

}
html, body {
    overflow-x: hidden; /* Empêche le défilement horizontal */
    height: 100%; /* S'assure que le body prend toute la hauteur de l'écran */
    margin: 0;    /* Retire les marges par défaut */
    padding: 0;   /* Retire les paddings par défaut */
}



@media (max-width: 768px) {
#calendar {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
}
.fc-daygrid-day {
    padding: 5px; /* Ajuste les cases pour les adapter à l'écran */
    min-height: 70px;

}

.fc-daygrid-event {
    white-space: normal !important;  
    word-wrap: break-word !important; 
    font-size: 0.85rem; 

  
}

}


#evenements-astro {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px; 
}

#evenements-astro h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff; 
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#evenements-astro p {
    font-size: 1em; 
    color: #ddd; 
    line-height: 1.6; 
    margin-bottom: 20px;
    text-align: justify;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    position: static;
    width: 100%;
}
footer p {
    font-size: 0.8rem;  /* Taille plus petite */
    color: #888;        /* Couleur grise discrète */
    text-align: center; /* Centrer le texte */
}

footer a {
    color: #888;        /* Couleur du lien discrète */
    text-decoration: none; /* Enlever le souligné */
}

footer a:hover {
    color: #fff;        /* Changer la couleur du lien au survol */
    text-decoration: underline; /* Ajouter un souligné au survol */
}
/* Modifier la couleur de fond des jours du calendrier */


/* Modifier le fond des événements */
.fc-daygrid-event {
    background-color: rgba(71, 55, 58, 0.8) !important; 
    color: #fff !important;  
}

/* Gérer le survol des événements */
.fc-daygrid-event:hover {
    background-color: rgba(206, 73, 95, 1) !important;  /* Changer la couleur de fond des événements au survol */
}

/* Gérer les jours "aujourd'hui" */
.fc-day-today {
    background-color: rgba(232, 39, 106, 0.595) !important;  /* Fond rouge pour le jour actuel */
    color: white !important;
}
